.boxes {
  width: 600px;
  height: 50vh;
  box-shadow: 0px 12px 18px -6px rgb(29, 121, 207);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.grid-back {
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: left;
}

.grid-back h1 {
  color: white;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
}

.grids h2 {
  display: flex;
  justify-content: center;
  font-weight: 1000;
}

.grids-1 {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin: auto;
  border-bottom: 1px solid grey;
}

.grids-2 {
  display: flex;
  padding: 20px;
}

.krc-txt {
  width: 600px;
}

.krc2-txt {
  width: 600px;
  margin: 30px;
}

.krc-txt h3 {
  display: none;
}

.krc2-txt h3 {
  display: none;
}

@media only screen and (max-width: 650px) {
  .grid-back h1 {
    font-size: 40px;
  }

  .boxes {
    display: none;
  }

  .krc-txt h3 {
    display: block;
  }

  .grids-1 {
    border: none;
  }

  .krc2-txt h3 {
    display: block;
  }

  .krc2-txt p {
    width: 245px;
    margin-right: 40px;
  }

  .grids {
    flex-direction: column;
  }

  .read-more-less--less,
  .read-more-less--more {
    position: absolute;
    top: 0;
    left: 0;
  }
}